:root {
    --bgcolor: #f5f7fa;
    --primary: #2563eb;
    --secondary: #1e293b;
    --white: #ffffff;
    --gray: #e5e7eb;
    --text: #374151;
    --lighttext: #6b7280;

    --nav-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: var(--bgcolor);
    line-height: 1.6;
}

.menu-toggle {
    width: 100%;
    padding: 15px;
    background: var(--primary);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-toggle img {
    width: 25px;
    height: 25px;
}

.menu {
    display: none;
    flex-direction: column;
    position: static;
    width: 100%;
    background-color: var(--white);
}

.menu.active {
    display: flex;
}

nav.Sidenav {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--white);
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

nav.Sidenav ul {
    list-style: none;
}

nav.Sidenav li a {
    display: block;
    color: var(--secondary);
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

nav.Sidenav li a:hover {
    background-color: var(--primary);
    color: white;
}

.resume-box {
    background: transparent;
    max-width: 900px;
    margin: auto;
    padding-top: var(--nav-height); /* evita que el nav tape */
}

section {
    background: var(--white);
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    scroll-margin-top: var(--nav-height); /* para que no tape titulos*/
}

.profile {
    text-align: center;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--gray);
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary);
    text-align: center;
    margin-top: 10px;
}

.name span {
    color: var(--primary);
}

.n-p {
    text-align: center;
    color: var(--text);
    margin-top: 5px;
    font-size: 14px;
}

.title-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.title-section img {
    width: 36px;
    padding: 7px;
    border-radius: 10px;
    background: var(--primary);
}

.p2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
}

.p3 {
    margin-top: 15px;
    color: var(--text);
    line-height: 1.7;
}

.p4 {
    font-size: 14px;
    font-weight: bold;
    color: var(--secondary);
}

.p5 {
    font-size: 13px;
    color: var(--lighttext);
    line-height: 1.6;
    text-align: justify; /*alineacioin tanto a izc y dere*/
}

.lr-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.left {
    font-weight: bold;
}

.right {
    width: 100%;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    flex: 1 1 100%; /* Mobile 1 columna con tamaño base 100%*/
}

.p6 {
    margin-bottom: 5px;
    font-size: 13px;
}

.progress {
    background: var(--gray);
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
}

.progress span {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #2563eb, #38bdf8);
}

footer.info {
    background: var(--white);
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-column {
    width: 100%;
    margin-bottom: 20px;
}

.footer-column .heading {
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--secondary);
}

.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-item img.icono {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--gray);
}

/* ------------- TABLET ---------------*/
@media (min-width: 768px) {

    .menu-toggle {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav.Sidenav ul {
        display: flex;
        justify-content: center;
    }

    nav.Sidenav li a {
        padding: 15px 20px;
    }

    /* ---- Profile tablet ---- */

    .resume-box {
        padding-top: 70px;
    }

    .section-profile {
        display:flex;
        align-items: flex-start;
        gap: 30px;
    }

    .profile {
        flex: 0 0 150px;
        text-align: center;
    }

    .profile-info {
        flex: 1;
    }

    .profile-img {
        width: 140px;
        height: 140px;
    }

    .name, .n-p {
        text-align: left;
    }

    /* Experience */
    .lr-box {
        flex-direction: row;
    }

    .left {
        width: 150px;
    }

    /* Skills */
    .skill {
        flex: 1 1 45%; /* 2 columnas base 45%*/
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-column {
        width: 45%;
    }
}

/* --------------- Desktop ------------- */
@media (min-width: 1024px) {

    .resume-box {
        max-width: 1100px;
    }

    /* Skills */
    .skill {
        flex: 1 1 22%; /* 4 columnas base 22%*/
    }
}

/* ------------- LANDSCAPE(Ajuste al girar pantalla de celular) ------------ */
@media (orientation: landscape) and (max-width: 768px) {

    .profile-img {
        width: 100px;
        height: 100px;
    }

    .name {
        font-size: 24px;
    }
}